{% extends "core/core.html" %}
{%block title%}Ridento{%endblock%}
{%block titlepage%}Tratamientos{%endblock%}
{%block body%}

<br/>
<div class="row">
    <div class="col-9">
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Activa</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {%for item in tratamientos%}
                    <tr>
                        <td>{{item.nombre}}</td>
                        <td>{{item.descripcion}}</td>
                        <td>{% if item.activo %}<i class="fas fa-check-square"></i>{%else%}<i class="fas fa-square-full"></i>{%endif%}</td>
                        <td><div class="row"><div class="col-3"></div><div class="col-3 text-center">
                            <form>
                                <input type="hidden" value="{{item.id}}" name="id">
                                <button type="submit" name="edit" class="btn btn-info" value="true"><i class="fas fa-edit"></i></button>
                            </form>
                        </div>
                        <div class="col-3 text-center">
                            <form>
                                <input type="hidden" value="{{item.id}}" name="id">
                                <button type="submit" name="delete" class="btn btn-danger" value="true"><i class="fas fa-trash-alt"></i></button>
                            </form>
                        </div><div class="col-3"></div></div></td>
                    </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
    <div class="col-3">
        <form method="POST">
            {% csrf_token %}
            {{form}}
            {%if id%}
                <input type="hidden" value="{{id}}" name="id">
            {%endif%}
            <br/>
            <button type="submit" class="btn btn-primary">
                Guardar Tratamiento
            </button>
        </form>
    </div>
</div>
{%endblock%}